<h3>Cadastro</h3>

<div class="form">
    <form [formGroup]="formProduct" (ngSubmit)="saveProduct()">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Nome do Produto</mat-label>
            <input formControlName="nome" matInput type="text">
        </mat-form-field>
        
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input formControlName="qtd" matInput type="number">
        </mat-form-field>
    
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Valor</mat-label>
            <input formControlName="preco" matInput type="text">
        </mat-form-field>
        <br>
        <button mat-flat-button color="primary" type="submit">Salvar</button>
    </form>
<div class="list">
    <mat-list>
        <mat-list-item *ngFor="let p of crud.lista | async">
           <p>{{ p.nome }} <br> Qtd: {{ p.qtd }} - Preço: R${{ p.preco }}</p>
           <button mat-icon-button (click)="edit(p)">
            Editar
           </button>
           <button mat-icon-button (click)="deleteProduct(p.id)">
            Excluir
           </button>
        </mat-list-item>
      </mat-list>
</div>

</div>